In [2]:
import pyodbc#just installed with pip
from dotenv import dotenv_values#import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np

from scipy import stats
import statistics as stats

import warnings
warnings.filterwarnings('ignore')

In [28]:
data_2018= pd.read_csv('startup_funding2018.csv')
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [27]:
data_2018.shape

(526, 6)

In [35]:
data_2018['Location'].unique()
data_2018['Location'].value_counts()

Location
Bangalore, Karnataka, India         102
Mumbai, Maharashtra, India           94
Bengaluru, Karnataka, India          55
Gurgaon, Haryana, India              52
New Delhi, Delhi, India              51
Pune, Maharashtra, India             20
Chennai, Tamil Nadu, India           19
Hyderabad, Andhra Pradesh, India     18
Delhi, Delhi, India                  16
Noida, Uttar Pradesh, India          15
Haryana, Haryana, India              11
Jaipur, Rajasthan, India              9
Ahmedabad, Gujarat, India             6
Kolkata, West Bengal, India           6
Bangalore City, Karnataka, India      5
Indore, Madhya Pradesh, India         4
India, Asia                           4
Kormangala, Karnataka, India          3
Ghaziabad, Uttar Pradesh, India       2
Kochi, Kerala, India                  2
Bhopal, Madhya Pradesh, India         2
Thane, Maharashtra, India             2
Jodhpur, Rajasthan, India             1
Powai, Assam, India                   1
Andheri, Maharashtra, India           1
Mylapore, Tamil Nadu, India           1
Kalpakkam, Tamil Nadu, India          1
Guntur, Andhra Pradesh, India         1
Coimbatore, Tamil Nadu, India         1
Worli, Maharashtra, India             1
Alleppey, Kerala, India               1
Chandigarh, Chandigarh, India         1
Guindy, Tamil Nadu, India             1
Uttar Pradesh, India, Asia            1
Trivandrum, Kerala, India             1
Ernakulam, Kerala, India              1
Kanpur, Uttar Pradesh, India          1
Kannur, Kerala, India                 1
Alwar, Rajasthan, India               1
Margão, Goa, India                    1
Belgaum, Karnataka, India             1
Kalkaji, Delhi, India                 1
Anand, Gujarat, India                 1
Kota, Rajasthan, India                1
Faridabad, Haryana, India             1
Cochin, Kerala, India                 1
Hubli, Karnataka, India               1
Azadpur, Delhi, India                 1
Mohali, Punjab, India                 1
Lucknow, Uttar Pradesh, India         1
Name: count, dtype: int64

In [18]:
data1['column10'].isnull( ).sum()

2262

checking for currency sign on amount column

In [10]:
data1['Amount'].unique()

array(['200000.0', '100000.0', nan, '400000.0', '340000.0', '600000.0',
       '45000000.0', '1000000.0', '2000000.0', '1200000.0', '660000000.0',
       '120000.0', '7500000.0', '5000000.0', '500000.0', '3000000.0',
       '10000000.0', '145000000.0', '100000000.0', '21000000.0',
       '4000000.0', '20000000.0', '560000.0', '275000.0', '4500000.0',
       '15000000.0', '390000000.0', '7000000.0', '5100000.0',
       '700000000.0', '2300000.0', '700000.0', '19000000.0', '9000000.0',
       '40000000.0', '750000.0', '1500000.0', '7800000.0', '50000000.0',
       '80000000.0', '30000000.0', '1700000.0', '2500000.0', '40000.0',
       '33000000.0', '35000000.0', '300000.0', '25000000.0', '3500000.0',
       '200000000.0', '6000000.0', '1300000.0', '4100000.0', '575000.0',
       '800000.0', '28000000.0', '18000000.0', '3200000.0', '900000.0',
       '250000.0', '4700000.0', '75000000.0', '8000000.0', '121000000.0',
       '55000000.0', '3300000.0', '11000000.0', '16000000.0', '5400000.0',
       '150000000.0', '4200000.0', '22000000.0', '52000000.0',
       '1100000.0', '118000000.0', '1600000.0', '18500000.0',
       '70000000000.0', '800000000.0', '400000000.0', '150000.0',
       '176000000.0', '60000000.0', '470000.0', '240000.0',
       '3000000000.0', '74000000.0', '62000000.0', '2100000.0',
       '500000000.0', '12500000.0', '2200000000.0', '5060000.0',
       '225000000.0', '24700000.0', '7700000.0', '19067328.0',
       '51000000.0', '115000.0', '54000.0', '20000.0', '803146.0',
       '238000.0', '10220000.0', '1020000.0', '12000000.0', '13400000.0',
       '170000000.0', '2900000.0', '543000.0', '90000000.0', '3400000.0',
       '23000000.0', '8090000.0', '1030000.0', '5040000.0', '360000.0',
       '1400000.0', '650000.0', '54000000.0', '42500000.0', '11370000.0',
       '325000.0', '410000.0', '450000.0', '682000.0', '4050000.0',
       '1050000.0', '1080000.0', '4300000.0', '6800000.0', '2110000.0',
       '764000.0', '603000.0', '409000.0', '292000.0', '286000.0',
       '136000.0', '546000.0', '887000.0', '43000.0', '40900.0',
       '2200000.0', '5660000.0', '350000.0', '110000.0', '122000000.0',
       '11635000.0', '2800000.0', '1065000.0', '669000.0', '16076000.0',
       '649600.0', '6700000.0', '220000.0', '266500.0', '2879000.0',
       '26500000.0', '351000.0', '46761000.0', '175000.0', '11241000.0',
       '804000.0', '1340000.0', '467000.0', '133000.0', '3823000.0',
       '934000.0', '293000.0', '198000.0', '927000.0', '971000.0',
       '3060000.0', '1862000.0', '232000.0', '2888000.0', '1328000.0',
       '15500000.0', '56000000.0', '2250000.0', '16753000.0', '3700000.0',
       '1470000.0', '530000.0', '267000.0', '3344000.0', '7200000.0',
       '2743000.0', '6082000.0', '6609000.0', '27700000.0', '5940000.0',
       '3964000.0', '5500000.0', '197000.0', '4327000.0', '459000.0',
       '3937000.0', '1313500.0', '229800.0', '5305000.0', '264000.0',
       '1750000.0', '5967000.0', '2980000.0', '323000.0', '1326000.0',
       '27000000.0', '5200000.0', '2530000.0', '792000.0', '11363000.0',
       '1715000.0', '329000.0', '5271000.0', '8700000.0', '3226000.0',
       '5900000.0', '44000000.0', '3879000.0', '13000000.0', '8800000.0',
       '9500000.0', '920000.0', '35600000.0', '9400000.0', '790000.0',
       '480000.0', '160000.0', '8200000.0', '4257000.0', '1410000.0',
       '349800.0', '786000.0', '2004000.0', '123000000.0', '248000.0',
       '24000000.0', '14259000.0', '24500000.0', '3800000.0',
       '18370000.0', '68525000.0', '4800000.0', '1834000.0', '23850000.0',
       '43000000.0', '21600000.0', '4598000.0', '13137000.0',
       '115000000.0', '3900000.0', '670000.0', '8500000.0', '3148000.0',
       '2600000.0', '4049500.0', '10500000.0', '6500000.0', '43700000.0',
       '13800000.0', '306900.0', '420000.0', '627300.0', '113000000.0',
       '32000000.0', '110000000.0', '1397000.0', '448500.0', '7975700.0',
       '330000.0', '5600000.0', '1402000.0', '21500000.0', '296000000.0',
       '4900000.0', '1402400.0', '12618300.0', '9900000.0', '982530.0',
       '70185200.0', '210000000.0', '84000000.0', '39000000.0',
       '2700000.0', '1403400.0', '105000000.0', '103000000.0', '281300.0',
       '12700.0', '25000.0', '97500000.0', '507000.0', '8400000.0',
       '18300000.0', '125000000.0', '181000.0', '280000.0', '14700000.0',
       '13200000.0', '8043000.0', '$1,200,000', '$120,000,000',
       '$30,000,000', '$51,000,000', '$2,000,000', '$188,000,000',
       '$200,000', 'Undisclosed', '$1,000,000', '$3,000,000', '$100,000',
       '$700,000', '$9,000,000', '$40,000,000', '$49,000,000', '$400,000',
       '$300,000', '$25,000,000', '$160,000,000', '$150,000',
       '$1,800,000', '$5,000,000', '$850,000', '$53,000,000', '$500,000',
       '$1,100,000', '$6,000,000', '$800,000', '$10,000,000',
       '$21,000,000', '$7,500,000', '$26,000,000', '$7,400,000',
       '$1,500,000', '$600,000', '$800,000,000', '$17,000,000',
       '$3,500,000', '$15,000,000', '$215,000,000', '$2,500,000',
       '$350,000,000', '$5,500,000', '$83,000,000', '$110,000,000',
       '$500,000,000', '$65,000,000', '$150,000,000,000', '$300,000,000',
       '$2,200,000', '$35,000,000', '$140,000,000', '$4,000,000',
       '$13,000,000', '$Undisclosed', '$2000000', '$800000', '$6000000',
       '$2500000', '$9500000', '$13000000', '$5000000', '$8000000',
       '$1000000', 'Upsparks', '$200000', '$12000000', '$1500000',
       '$1700000', '$5500000', '$400000', '$150000000', '$4000000',
       '$100000000', '$500000', '$15000000', '$10000000', '$40000000',
       '$225000000', '$6700000', '$1300000', '$20000000', '$250000',
       '$21000000', '$1200000', '$52000000', '$3800000', '$17500000',
       '$42000000', '$2300000', '$7000000', '$30000000', '$450000000',
       '$28000000', '$300000', '$3500000', '$8500000', '$25000000',
       '$3000000', '$37000000', '$370000000', '$700000', '$16000000',
       '$100000', '$44000000', '$770000', '$125000000', '$35000000',
       '$50000000', '$4900000', '$145000000', '$22000000', '$70000000',
       '$6600000', '$32000000', '$24000000', '$725000', '$461000',
       'Series C', 'Seed', '$96000000', '$60000000', '$500000000',
       '$266000000', '$4500000', '$325000000', '$6500000', '$1600000',
       '$150000', '$225000', '$85000000', '$235000', '$260000',
       '$2900000', '$53000000', '$1100000', '$86000000', '$130000',
       '$$100,00', '$111000000', '$265000', '$76000000', '$100,000,000',
       '$75,000,000', '$3,800,000', '$12,000,000', '$1,600,000',
       '$260,000', '$1,000,000,000', '$18,000,000', '$20,000,000',
       '$350,000', '$95,000,000', '$4,100,000', '$5,200,000',
       '$8,000,000', '$1,400,000', '$2,600,000', '$900,000', '$250,000',
       '$16,000,000', '$7,000,000', '$11,000,000', '$280,000,000',
       '$50,000,000', '$14,300,000', '$81,000,000', '$1,300,000',
       '$8,200,000', '$70,000,000', '$720,000', '$600000', '$9000000',
       '$1800000', '$330000', '$undisclosed', '$200000000', '$36000000',
       '$67000000', '$10200000', '$220000000', '$108000000', '$75000000',
       '$450000', '$660000000', 'ah! Ventures', '$45000000', '$3200000',
       '$370000', 'Pre-series A', 'ITO Angel Network, LetsVenture',
       '$48000000', '$3600000', '$11000000', '$192000000', '$65000000',
       '$1400000', '$1900000', '$41000000', '$144000000', '$5200000',
       '$270000000', '$140000', '$250000000', '$320000', '$350000000',
       '$4800000', '$38000000', '$125000', '$26000000', '$64000000',
       '$620000', '$900000', 'JITO Angel Network, LetsVenture',
       '$2600000', '$1,250,000', '$400,000,000', '$1,700,000',
       '$27,000,000', '$234,000,000', '$460,000,000', '$13,500,000',
       '$5,100,000', '$195,000,000', '$125,000', '$45,000,000',
       '$200,000,000', '$7,300,000', '$6,300,000', '$12,500,000',
       '$24,000,000', '$140,000', '$16,500,000', '$340,000',
       '$43,000,000', '$150,000,000', '$3300000', '$92000000',
       '$17000000', '$135000000', '$$1,55,000', '$2100000', '$840000000',
       '$248000000', '$4300000', '$570000', '$2200000', '$4700000',
       '$300000000', '$260000000', '$140000000', '$175000000',
       '$19000000', '$810000', '$7500000', '$600000000', '$90000000',
       '$5700000', '$6750000', '$78000000', '$5400000', '$115000000',
       '$255000000', '$18000000', '$570000000', '$550000', '$2700000',
       '$4200000', '$31000000', '$540000', '$14000000', '$340000', '$',
       '$6200000', '$750000', '$6300000', '$23000000', '$55000000'],
      dtype=object)

In [30]:
data_2019=pd.read_csv('startup_funding2019.csv')
data_2019.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [32]:
data_2020=pd.read_csv('startup_funding2020.csv')
data_2020.head(2)

,Unnamed: 0,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,NaN,NaN
1,1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,NaN

In [33]:
data_2021=pd.read_csv('startup_funding2021.csv')
data_2021.head(2)

,Unnamed: 0,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN

In [15]:
data1.shape

(2264, 11)

In [16]:
data2.shape

(526, 6)

In [17]:
data3.shape

(89, 9)

In [18]:
df.shape

(2879, 19)

### HYPOTHESIS ###

H0:The location of a startup's headquarters does not affect affects its funding stage.
H1:funding stage is affected by the location of a startup's headquarter