In [2]:
%pip install pyodbc 
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\said ahmed\appdata\local\programs\python\python312\lib\site-packages (5.0.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dotenv in c:\users\said ahmed\appdata\local\programs\python\python312\lib\site-packages (1.0.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pyodbc#just installed with pip
from dotenv import dotenv_values#import the dotenv_values function from the dotenv package
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [10]:
data1=pd.read_csv('data_from_sql_server.csv')
data1.head(2)

,Unnamed: 0,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,NaN,NaN
1,1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,NaN

In [ ]:
data2=pd.read_csv('startup_funding2018.csv')
data2.head(2)

In [ ]:
data3=pd.read_csv('startup_funding2019.csv')
data3.head(2)

In [ ]:
f=pd.concat([data1,data2,data3])
df.head(2)